#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #2b9fd7aa);
}

.logo {
  position: static;
  margin-left: 80px;
  background-attachment: scroll;
  max-width: 160px;
  max-height: 160px;
  transition: filter 300ms;
}

