.container-home-image {

    max-height: 800px;
    overflow: hidden;
    > img {
        width: 100vw;
    }
}

.logo {
    position: absolute;
    top: 10px;
    left: 0;
    width: 300px;
    height: auto;
}

.nav-item {
    margin: 5px;
}

.slogan-title {
    color: #0286c9;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #123c60;
}

button {
    text-transform: uppercase;
    background-color: #1a4e7b;
    color: #FFFFFF;
    width: 200px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover {
    background-color: #3072af; /* Etwas hellere Version von #1a4e7b */
}