.container-home-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius:20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container-home-image img:hover {
    transform: scale(1.05);
}

.container-home-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;

    overflow: hidden;
    height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}

.logo-container {
    position: absolute;
    background-attachment: scroll;
    top: 80px;
    left: 10px;
    z-index: 10;
    max-width: calc(100% - 20px);
    overflow: hidden;
}

.logo {
    position: static;
    margin-right: 200px;
    background-attachment: scroll;
    max-width: 160px;
    max-height: 160px;
    width: auto;
    height: auto;
    will-change: filter;
    transition: filter 300ms;
}

header {
    position: static;
    padding: 20px;
    box-sizing: border-box;
}