:root {
    line-height: 1.5;
    font-weight: 400;
    color: deepskyblue;
    background-color: #213547;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

button {
    margin: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 700;
    background-color: #2b9fd7;
    cursor: pointer;
    transition: border-color 0.25s, background-color 0.25s;
    outline: white solid 5px;
}

button:hover {
    border-color: #2b9fd7;
    background-color: white;
    transform: scale(1.05);
}


